@import url('./reset.css');

body {
  width: 100%;
  height: 100vh;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 6rem;
}

#title {
  text-align: center;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

#reader {
  border: none !important;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div:nth-child(2) > div:nth-child(1) {
  display: none;
}

#reader__scan_region {
}

#reader__dashboard {
}

#reader__dashboard_section_csr span {
  width: 100%;

  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  margin-bottom: 2rem;

  font-size: 1.3rem;
}

#reader__dashboard_section_csr span select,
button {
  background: #111827;
  color: var(--white-secondary);
  border: none;
  padding: 1rem 1.6rem;
  border-radius: 6px;

  cursor: pointer;
}

#qr-shaded-region {
  position: relative;
}

#qr-shaded-region::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  background: red;
  box-shadow: 0 0 50px 20px rgba(170, 11, 23, 0.49);
  clip-path: inset(0);
  animation: x 0.6s ease-in-out infinite alternate, y 1s ease-in-out infinite;
}

#result {
  height: 100vh;
  width: 50%;
  margin: 0 auto;

  overflow-y: auto;

  position: relative;
}

.title-result {
  width: 48.8%;
  height: 64px;

  display: flex;
  align-items: center;

  background: #111827;
  color: #f1f1f1;

  padding: 0 1rem;

  border-radius: 6px;

  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 2rem;
}

#valueList {
  width: 98%;

  position: absolute;
  top: 64px;

  text-decoration: none;
  list-style: none;

  margin-top: 2rem;

  background-color: #111827;

  border-radius: 6px;
}

#valueList li {
  font-size: 3rem;
  border-bottom: 1px solid #f1f1f1;

  color: #f1f1f1;

  padding: 2rem;
}

@keyframes x {
  to {
    transform: translateX(-100%);
    left: 100%;
  }
}

@keyframes y {
  33% {
    clip-path: inset(0 0 0 -100px);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  83% {
    clip-path: inset(0 -100px 0 0);
  }
}
